<!DOCTYPE html>
<html>
  <head>
    <title>Regression</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>

  <body>
    <header class="text-gray-600 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          href="/"
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
            ></path>
          </svg>
          <span class="ml-3 text-xl">ITD105 Projects</span>
        </a>
        <nav
          class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center"
        >
          <!-- <a href="/todo" class="mr-5 hover:text-gray-900">Todo</a> -->
          <a href="/classification" class="mr-5 hover:text-gray-900"
            >Classification</a
          >
          <a href="/regression" class="mr-5 hover:text-gray-900">Regression</a>
        </nav>
      </div>
    </header>
    <div>
      <div
        class="container mx-auto mt-8 p-8 bg-white rounded-lg shadow-lg mb-8"
      >
        <div class="flex justify-between items-center">
          <h1 class="text-3xl font-semibold mb-6">House Price Prediction</h1>
          <div class="text-right">
            <a
              class="text-blue-500 hover:underline mb-6 text-2xl"
              href="/regdata"
              >Saved Data</a
            >
          </div>
        </div>
        <form method="post" action="/regpredict" class="space-y-4">
          <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-col">
              <label for="house_age" class="text-lg mb-2">House Age:</label>
              <input
                type="number"
                name="house_age"
                min="0"
                required
                class="border rounded-lg py-2 px-3 focus:outline-none focus:border-blue-500"
              />
            </div>

            <div class="flex flex-col">
              <label for="distance_to_MRT" class="text-lg mb-2"
                >Distance to MRT:</label
              >
              <input
                type="number"
                name="distance_to_MRT"
                step="0.0001"
                required
                class="border rounded-lg py-2 px-3 focus:outline-none focus:border-blue-500"
              />
            </div>

            <div class="flex flex-col">
              <label for="num_convenience_stores" class="text-lg mb-2"
                >Number of Convenience Stores:</label
              >
              <input
                type="number"
                name="num_convenience_stores"
                required
                class="border rounded-lg py-2 px-3 focus:outline-none focus:border-blue-500"
              />
            </div>
          </div>

          <button
            type="submit"
            class="bg-blue-500 text-white py-2 px-4 rounded-lg"
          >
            Predict
          </button>
        </form>
        {% if prediction %}
        <p>{{ prediction }}</p>
        {% endif %} {% if error %}
        <p style="color: red">{{ error }}</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
